<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>等待回复的问题</title>

<script src="/Content/js/jquery-2.1.3.min.js"></script>

<script>

$(document).ready(function(){
	
  $("p").click(function(){
  	$(this).hide();
  });
  
  //alert("fdaf");
  
  //http://2fit.cn:8002/Trainer/GetAskWaiting/
  
  $.get("/Trainer/GetAskWaiting/",function(data,status)
  {
	  //alert("ddd");
    //alert("Data: " + data + "\nStatus: " + status);

     var jsonData = eval(data);//接收到的数据转化为JQuery对象，由JQuery为我们处理  

     //遍历对象数组，index是数组的索引号，objVal是遍历的一个对象。
     $.each(jsonData, function(index, objVal) 
     {   
        //val["属性"]可取到对应的属性值。  
        //$("<option>").attr("value", objVal["id"]).html(objVal["name"]).appendTo(select);  


        $("#askList").before("["+objVal["lastTime"]+"]  "+"<a href='/Trainer/Pages/GetAskRecordByGUID/"+objVal["GUID"]+"'>"+ objVal["lastWords"] +"</a><br><br>");

        //alert( objVal["ID"]+", "+objVal["lastWords"]);
     });  


  });
  
});


</script>


</head>

<body>
<div id="askList"></div>
</body>
</html>
