<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="SQLConnectionString" value="server=www.2fit.cn; database=ToFitApp;uid=stormer; pwd=ShaHu@WH2014" />
    <add key="token" value="38D01AE19C27B702" />
    <add key="webTitle" value="快健身 App Content Management" />
    <add key="misTitle" value="快健身 CMS" />
    <add key="metaKeywords" value="快健身" />
    <add key="metaDescription" value="快健身" />
    <add key="SMSAPI.SDKService" value="http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>